body {
     font-family: 'Heebo', sans-serif;
}

/* styling for quiz section start */
.quiz {
     text-align: center;
     width: 60%;
     padding-top: 50px;
}

li {
     margin-top: 10px;
}


.quiz p {
     font-weight: 400;
     font-size: 1.5rem;
}

.questionTitle {
     text-align: left;
}

.quiz-start {
     background-color: #351c75;
     color: white;
}

.quiz-start:hover {
     background-color: #bd60e7;
     color: white;
}

.btn-width {
     width: 200px;
}

.timer {
     text-align: right;
     font-size: 1.5rem;
     font-weight: 500;
}

.ulStyle {
     list-style: none;
     text-align: left;
     padding-left: 0;
}

.text-left {
     text-align: left;
}

.answerCheckStyle {
     border-top: 2px solid #afafaf;
     text-align: left;
     font-size: 2rem;
     font-style: italic;
     color: #afafaf;
     padding-top: 8px;
}


/* styling for quiz section end */

/* styling for highscore section start */
.highscores a {
     text-decoration: none;
     color: #bd60e7;
     font-size: 1.5rem;
     font-weight: 400;
}

.highscores a:hover {
     color: #351c75;
}

#completeDiv {
     text-align: left;
     margin: 0 auto;
}

#createLabel {
     font-size: 1.5rem;
     padding-top: 1px;
}
#finalScore {
     margin: 5px 0 5px 0;
}

#initials,
#Submit {
     margin-left: 10px;
}
/* styling for highscore section end */

/* styling for highscore html page */

#highscore {
     width: 768px;
     margin: 100px auto;
}


.highScoreStyle {
     background-color: #d8d3e9;
     width: 60%;
}
/* styling for highscore html page end */

/* media queries */


/* Small devices (tablets, 400px and up) */
/* @media screen and (min-width: 300px) and (max-width: 568px) */
@media (max-width: 576px) { 
     .quiz {
          width: 90%;
          padding-top: 10px;
     }

     .row {
          justify-content: center;
     }

     .highscores {
          width: 100%;
          text-align: center;
     }

     #time {
          text-align: center;
     }

     .questionTitle {
          text-align: center;
     }

     .ulStyle {
          text-align: center;
     }
  
     .text-left {
          text-align: center;
     }

     .answerCheckStyle {
          text-align: center;
     }

     #completeDiv {
          text-align: center;
     }

     #initials,
     #Submit {
          width: 100%;
          margin-top: 10px;
     }

     #highscore {
          width: 80%;
     }

     .highScoreStyle {
          width: 100%;
     }

     .h1Style {
          text-align: center;
     }
}