body {
     font-family: 'Heebo', sans-serif;
}

.quiz {
     text-align: center;
     width: 60%;
     padding-top: 50px;
}

.quiz p {
     font-weight: 400;
     font-size: 1.5rem;
}


.quiz-start {
     background-color: #351c75;
     color: white;
     width: 200px;
}

.quiz-start:hover {
     background-color: #bd60e7;
     color: white;
}

.highscores a {
     text-decoration: none;
     color: #bd60e7;
     font-size: 1.5rem;
     font-weight: 400;
}

.highscores a:hover {
     color: #351c75;
}

.timer {
     text-align: right;
     font-size: 1.5rem;
     font-weight: 500;
}

.ulStyle {
     list-style: none;
     text-align: left;
}

.text-left {
     text-align: left;
}